# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
jspm_packages/

# Build output
dist/
build/

# TypeScript
*.tsbuildinfo

# Environment variables
.env
.env.*

# VS Code settings
.vscode/

# Jest coverage
coverage/

# Misc
.DS_Store
Thumbs.db

# Docker
*.local
*.pid
docker-compose.override.yml

# Ignore test output
/test/**/*.log

# Ignore compiled output
*.out
